/****** Object:  Table [dbo].[Temp_Dmaic_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Dmaic_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](4000) NULL,
	[Sequence_number] [nvarchar](4000) NULL,
	[Project_Lead] [nvarchar](4000) NULL,
	[System_start_date] [nvarchar](4000) NULL,
	[Active_phase] [nvarchar](4000) NULL,
	[System_end_date] [nvarchar](4000) NULL,
	[Status] [nvarchar](4000) NULL,
	[Work_Template] [nvarchar](4000) NULL,
	[Work_type] [nvarchar](4000) NULL,
	[Comments] [nvarchar](4000) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Baseline] [nvarchar](4000) NULL,
	[Loss_Opportunity] [nvarchar](4000) NULL,
	[Loss_Opportunity_raw] [nvarchar](4000) NULL,
	[Measures_of_Success] [nvarchar](4000) NULL,
	[Target] [nvarchar](4000) NULL,
	[Analyze] [nvarchar](4000) NULL,
	[CapEx] [nvarchar](4000) NULL,
	[CapEx_ID] [nvarchar](4000) NULL,
	[Control] [nvarchar](4000) NULL,
	[Define] [nvarchar](4000) NULL,
	[Improve] [nvarchar](4000) NULL,
	[Measure] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_GBS_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_GBS_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](4000) NULL,
	[Sequence_number] [nvarchar](4000) NULL,
	[Project_Lead] [nvarchar](4000) NULL,
	[System_start_date] [nvarchar](4000) NULL,
	[Active_phase] [nvarchar](4000) NULL,
	[System_end_date] [nvarchar](4000) NULL,
	[Status] [nvarchar](4000) NULL,
	[Work_Template] [nvarchar](4000) NULL,
	[Work_type] [nvarchar](4000) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](max) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Baseline] [nvarchar](4000) NULL,
	[Loss_Opportunity] [nvarchar](4000) NULL,
	[Loss_Opportunity_raw] [nvarchar](4000) NULL,
	[Measures_of_Success] [nvarchar](4000) NULL,
	[Target] [nvarchar](4000) NULL,
	[Expected_Savings_Other_Location_in_$] [nvarchar](4000) NULL,
	[Expected_Savings_Other_Location_in_$_raw] [nvarchar](4000) NULL,
	[Solutions_description] [nvarchar](4000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_GDI_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_GDI_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](4000) NULL,
	[Sequence_number] [nvarchar](4000) NULL,
	[Project_Lead] [nvarchar](4000) NULL,
	[System_start_date] [nvarchar](4000) NULL,
	[Active_phase] [nvarchar](4000) NULL,
	[System_end_date] [nvarchar](4000) NULL,
	[Status] [nvarchar](4000) NULL,
	[Work_Template] [nvarchar](4000) NULL,
	[Work_type] [nvarchar](4000) NULL,
	[Comments] [nvarchar](4000) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Project_Summary] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Mdpo_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Mdpo_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](500) NULL,
	[Sequence_number] [nvarchar](500) NULL,
	[Project_Lead] [nvarchar](500) NULL,
	[System_start_date] [nvarchar](500) NULL,
	[Active_phase] [nvarchar](500) NULL,
	[System_end_date] [nvarchar](500) NULL,
	[Status] [nvarchar](500) NULL,
	[Work_Template] [nvarchar](500) NULL,
	[Work_type] [nvarchar](500) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Project_Summary] [nvarchar](4000) NULL,
	[SR_Actual_Project_Status] [nvarchar](4000) NULL,
	[SR_Next_Steps_Actions] [nvarchar](4000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_PSC_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_PSC_Custom_Fields](
	[Name] [nvarchar](max) NULL,
	[PowerSteering_ID] [nvarchar](max) NULL,
	[Sequence_number] [nvarchar](max) NULL,
	[Project_Lead] [nvarchar](max) NULL,
	[System_start_date] [nvarchar](max) NULL,
	[Active_phase] [nvarchar](max) NULL,
	[System_end_date] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Work_Template] [nvarchar](max) NULL,
	[Work_type] [nvarchar](max) NULL,
	[Comments:] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](max) NULL,
	[Expected_Benefits] [nvarchar](max) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](max) NULL,
	[Expected_Total_Savings_in_$_-_raw] [nvarchar](max) NULL,
	[Goal_Statement] [nvarchar](max) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](max) NULL,
	[Problem_Statement] [nvarchar](max) NULL,
	[Project_Scope_and_Scale] [nvarchar](max) NULL,
	[Secondary_Metric] [nvarchar](max) NULL,
	[Project_Summary] [nvarchar](max) NULL,
	[Annual_Spend] [nvarchar](max) NULL,
	[Annual_Spend_-_raw] [nvarchar](max) NULL,
	[CA_(Local_Currency)] [nvarchar](max) NULL,
	[CA_(Local_Currency)_-_raw] [nvarchar](max) NULL,
	[CapEx] [nvarchar](max) NULL,
	[Current_PO] [nvarchar](max) NULL,
	[EBIT_(Local_Currency)] [nvarchar](max) NULL,
	[EBIT_(Local_Currency)_-_raw] [nvarchar](max) NULL,
	[GL_Account] [nvarchar](max) NULL,
	[GSGPC] [nvarchar](max) NULL,
	[In_AOP?] [nvarchar](max) NULL,
	[LCC_Sourcing?] [nvarchar](max) NULL,
	[Net_Savings_(Local_Currency)] [nvarchar](max) NULL,
	[Net_Savings_(Local_Currency)_-_raw] [nvarchar](max) NULL,
	[Prebate/Rebate?] [nvarchar](max) NULL,
	[Prior_PO] [nvarchar](max) NULL,
	[Probability_Adjustment_(%)] [nvarchar](max) NULL,
	[Probability_Adjustment_(%)_-_raw] [nvarchar](max) NULL,
	[Total_Opportunity] [nvarchar](max) NULL,
	[Total_Opportunity_-_raw] [nvarchar](max) NULL,
	[Vendor_Name] [nvarchar](max) NULL,
	[Working_Capital_Impact_Date] [nvarchar](max) NULL,
	[Working_Capital_Impact_Date_-_raw] [nvarchar](max) NULL,
	[Yearly_Volume] [nvarchar](max) NULL,
	[Yearly_Volume_-_raw] [nvarchar](max) NULL,
	[Estimated_Baseline_Savings_($)] [nvarchar](max) NULL,
	[Estimated_Baseline_Savings_($)_-_raw] [nvarchar](max) NULL,
	[Estimated_Timeline] [nvarchar](max) NULL,
	[Full_Potential_Savings_($)] [nvarchar](max) NULL,
	[Full_Potential_Savings_($)_-_raw] [nvarchar](max) NULL,
	[Probability_of_Achieving_Savings_(%)] [nvarchar](max) NULL,
	[Probability_of_Achieving_Savings_(%)_-_raw] [nvarchar](max) NULL,
	[Project_Description] [nvarchar](max) NULL,
	[Project_Rejected/_On_Hold] [nvarchar](max) NULL,
	[Baseline_Spend] [nvarchar](max) NULL,
	[Baseline_Supplier] [nvarchar](max) NULL,
	[Business_case_(Benefits,_Risks,_etc.)] [nvarchar](max) NULL,
	[Estimated_Implementation_Costs] [nvarchar](max) NULL,
	[Estimated_Procurement_Resources] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_PSIMP_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_PSIMP_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](4000) NULL,
	[Sequence_number] [nvarchar](4000) NULL,
	[Project_Lead] [nvarchar](4000) NULL,
	[System_start_date] [nvarchar](4000) NULL,
	[Active_phase] [nvarchar](4000) NULL,
	[System_end_date] [nvarchar](4000) NULL,
	[Status] [nvarchar](4000) NULL,
	[Work_Template] [nvarchar](4000) NULL,
	[Work_type] [nvarchar](4000) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Project_Summary] [nvarchar](4000) NULL,
	[Annual_Spend] [nvarchar](4000) NULL,
	[Annual_Spend_raw] [nvarchar](4000) NULL,
	[CA_Local_Currency] [nvarchar](4000) NULL,
	[CA_Local_Currency_raw] [nvarchar](4000) NULL,
	[CapEx] [nvarchar](4000) NULL,
	[Current_PO] [nvarchar](4000) NULL,
	[EBIT_Local_Currency] [nvarchar](4000) NULL,
	[EBIT_Local_Currency_raw] [nvarchar](4000) NULL,
	[GL_Account] [nvarchar](4000) NULL,
	[GSGPC] [nvarchar](4000) NULL,
	[In_AOP] [nvarchar](4000) NULL,
	[LCC_Sourcing] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency_raw] [nvarchar](4000) NULL,
	[Prebate_Rebate] [nvarchar](4000) NULL,
	[Prior_PO] [nvarchar](4000) NULL,
	[Probability_Adjustment] [nvarchar](4000) NULL,
	[Probability_Adjustment_raw] [nvarchar](4000) NULL,
	[Total_Opportunity] [nvarchar](4000) NULL,
	[Total_Opportunity_raw] [nvarchar](4000) NULL,
	[Vendor_Name] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date_raw] [nvarchar](4000) NULL,
	[Yearly_Volume] [nvarchar](4000) NULL,
	[Yearly_Volume_raw] [nvarchar](4000) NULL,
	[Estimated_Baseline_Savings_$] [nvarchar](4000) NULL,
	[Estimated_Baseline_Savings_$_raw] [nvarchar](4000) NULL,
	[Estimated_Timeline] [nvarchar](4000) NULL,
	[Full_Potential_Savings_$] [nvarchar](4000) NULL,
	[Full_Potential_Savings_$_raw] [nvarchar](4000) NULL,
	[Probability_of_Achieving_Savings] [nvarchar](4000) NULL,
	[Probability_of_Achieving_Savings_raw] [nvarchar](4000) NULL,
	[Project_Description] [nvarchar](max) NULL,
	[Project_Rejected_On_Hold] [nvarchar](4000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_QTI_Custom_Fields]    Script Date: 7/1/2019 6:21:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_QTI_Custom_Fields](
	[Name] [nvarchar](max) NULL,
	[PowerSteering_ID] [nvarchar](max) NULL,
	[Sequence_number] [nvarchar](max) NULL,
	[Project_Lead] [nvarchar](max) NULL,
	[System_start_date] [nvarchar](max) NULL,
	[Active_phase] [nvarchar](max) NULL,
	[System_end_date] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Work_Template] [nvarchar](max) NULL,
	[Work_type] [nvarchar](max) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](max) NULL,
	[Expected_Benefits] [nvarchar](max) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](max) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](max) NULL,
	[Goal_Statement] [nvarchar](max) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](max) NULL,
	[Problem_Statement] [nvarchar](max) NULL,
	[Project_Scope_and_Scale] [nvarchar](max) NULL,
	[Secondary_Metric] [nvarchar](max) NULL,
	[Loss_Opportunity] [nvarchar](max) NULL,
	[Loss_Opportunity_raw] [nvarchar](max) NULL,
	[Agent_Company_Name] [nvarchar](max) NULL,
	[Agent_Contact_Name] [nvarchar](max) NULL,
	[Agent_Email] [nvarchar](max) NULL,
	[Agent_Phone_Number] [nvarchar](max) NULL,
	[ARD#] [nvarchar](max) NULL,
	[Are_there_other_trials_that_require_this_material] [nvarchar](max) NULL,
	[CIRF_Needed] [nvarchar](max) NULL,
	[CIRF_Received] [nvarchar](max) NULL,
	[COA_ppk_data_needed_] [nvarchar](max) NULL,
	[Code_Name] [nvarchar](max) NULL,
	[Comments_Deliverable] [nvarchar](max) NULL,
	[Compound_Treatment_for_trial] [nvarchar](max) NULL,
	[Construction_dtex] [nvarchar](max) NULL,
	[CSIS_#] [nvarchar](max) NULL,
	[Data_needs_beyond_the_specification] [nvarchar](max) NULL,
	[Describe_any_technical_requirements_or_data_needs_] [nvarchar](max) NULL,
	[Diff_bw_GY_Supplier_Specs_or_test_methods] [nvarchar](max) NULL,
	[Dipped_Fabric_Width] [nvarchar](max) NULL,
	[Does_Supplier_have_Required_Import_Documentation] [nvarchar](max) NULL,
	[EHS_Process_Questions_needed] [nvarchar](max) NULL,
	[EPI] [nvarchar](max) NULL,
	[GMS_Stage_2_Testing_Requirements] [nvarchar](max) NULL,
	[Goodyear_specification_sent] [nvarchar](max) NULL,
	[Goodyear_test_methods_sent] [nvarchar](max) NULL,
	[HAP_free_letter_needed] [nvarchar](max) NULL,
	[Has_supplier_signed_the_specification] [nvarchar](max) NULL,
	[If_no_note_supplier_requirements_exceptions] [nvarchar](max) NULL,
	[If_yes_what_trials] [nvarchar](max) NULL,
	[Import_License_Required] [nvarchar](max) NULL,
	[Intermediary_Destination_if_Applicable] [nvarchar](max) NULL,
	[Lead_Time_for_Process_Trial_Material_No_of_days] [nvarchar](max) NULL,
	[Material_Trade_Name] [nvarchar](max) NULL,
	[MISVPS_#] [nvarchar](max) NULL,
	[Mode_Requirements] [nvarchar](max) NULL,
	[Network_#] [nvarchar](max) NULL,
	[Other_Considerations] [nvarchar](max) NULL,
	[Packaging_Requirements] [nvarchar](max) NULL,
	[Plant_HSE_Review] [nvarchar](max) NULL,
	[Plant_Raw_Material_Planner] [nvarchar](max) NULL,
	[Plant_Specific_Requirements] [nvarchar](max) NULL,
	[Plant_Technical_Contact] [nvarchar](max) NULL,
	[Plant_volume_trial_needed] [nvarchar](max) NULL,
	[Processing_and_Volume_trial_durations] [nvarchar](max) NULL,
	[Processing_trial_required] [nvarchar](max) NULL,
	[Product_Stewardship_Stage_1_Supplier_Requirements] [nvarchar](max) NULL,
	[Project_Leader_Concept_Check] [nvarchar](max) NULL,
	[QTY_of_Tires_per_Trial] [nvarchar](max) NULL,
	[QTY_of_Tires_per_Trial_raw] [nvarchar](max) NULL,
	[Quality_Stage_1_Supplier_Requirements] [nvarchar](max) NULL,
	[REACH_andor_Inventory_Status_OK] [nvarchar](max) NULL,
	[SDS_Needed] [nvarchar](max) NULL,
	[SDS_OK] [nvarchar](max) NULL,
	[SDS_Received] [nvarchar](max) NULL,
	[SIS_Material_Code_New_Supplier_] [nvarchar](max) NULL,
	[Spool_Length] [nvarchar](max) NULL,
	[Spool_Type] [nvarchar](max) NULL,
	[SQA_Stage_1_Concept_Check] [nvarchar](max) NULL,
	[SQA_Stage_1_Supplier_Requirements] [nvarchar](max) NULL,
	[Supplier_Company_Name] [nvarchar](max) NULL,
	[Supplier_compliant_in_SIS] [nvarchar](max) NULL,
	[Supplier_Contact_Name] [nvarchar](max) NULL,
	[Supplier_Email] [nvarchar](max) NULL,
	[Supplier_is_capable_to_meet_Goodyear_requirements] [nvarchar](max) NULL,
	[Supplier_meets_mode_requirement] [nvarchar](max) NULL,
	[Supplier_meets_packaging_requirement] [nvarchar](max) NULL,
	[Supplier_Phone_#] [nvarchar](max) NULL,
	[Supplier_Plant_Location] [nvarchar](max) NULL,
	[Supplier_requirements_accepted] [nvarchar](max) NULL,
	[Supplier_specification_needed] [nvarchar](max) NULL,
	[Supply_Chain_Stage_1_Supplier_Requirements] [nvarchar](max) NULL,
	[Tire_SKU_for_trial] [nvarchar](max) NULL,
	[Total_Ends] [nvarchar](max) NULL,
	[Total_quantity_needed_units] [nvarchar](max) NULL,
	[Treatment_Width_suffix] [nvarchar](max) NULL,
	[Twist] [nvarchar](max) NULL,
	[Unique_#] [nvarchar](max) NULL,
	[Value_Date] [nvarchar](max) NULL,
	[Value_Date_raw] [nvarchar](max) NULL,
	[Vendor_code] [nvarchar](max) NULL,
	[VPS_Scheduled_Date] [nvarchar](max) NULL,
	[VPS_Scheduled_Date_raw] [nvarchar](max) NULL,
	[VPS_template] [nvarchar](max) NULL,
	[VSDS_number_] [nvarchar](max) NULL,
	[Will_the_supplier_ship_all_material_at_once] [nvarchar](max) NULL,
	[Xcode] [nvarchar](max) NULL,
	[Yarn_Type] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_Replication_Custom_Fields]    Script Date: 7/1/2019 6:21:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Replication_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](500) NULL,
	[Sequence_number] [nvarchar](500) NULL,
	[Project_Lead] [nvarchar](500) NULL,
	[System_start_date] [nvarchar](500) NULL,
	[Active_phase] [nvarchar](500) NULL,
	[System_end_date] [nvarchar](500) NULL,
	[Status] [nvarchar](500) NULL,
	[Work_Template] [nvarchar](500) NULL,
	[Work_type] [nvarchar](500) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Project_Summary] [nvarchar](4000) NULL,
	[Annual_Spend] [nvarchar](4000) NULL,
	[Annual_Spend_raw] [nvarchar](4000) NULL,
	[CA_Local_Currency] [nvarchar](4000) NULL,
	[CA_Local_Currency_raw] [nvarchar](4000) NULL,
	[CapEx] [nvarchar](4000) NULL,
	[Current_PO] [nvarchar](4000) NULL,
	[EBIT_Local_Currency] [nvarchar](4000) NULL,
	[EBIT_Local_Currency_raw] [nvarchar](4000) NULL,
	[GL_Account] [nvarchar](4000) NULL,
	[GSGPC] [nvarchar](4000) NULL,
	[In_AOP?] [nvarchar](4000) NULL,
	[LCC_Sourcing?] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency_raw] [nvarchar](4000) NULL,
	[Prebate_Rebate?] [nvarchar](4000) NULL,
	[Prior_PO] [nvarchar](4000) NULL,
	[Probability_Adjustment] [nvarchar](4000) NULL,
	[Probability_Adjustment_raw] [nvarchar](4000) NULL,
	[Total_Opportunity] [nvarchar](4000) NULL,
	[Total_Opportunity_raw] [nvarchar](4000) NULL,
	[Vendor_Name] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date_raw] [nvarchar](4000) NULL,
	[Yearly_Volume] [nvarchar](4000) NULL,
	[Yearly_Volume_raw] [nvarchar](4000) NULL,
	[Replication_purpose] [nvarchar](max) NULL,
	[Replication_Summary] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp_SC_Custom_Fields]    Script Date: 7/1/2019 6:21:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_SC_Custom_Fields](
	[Name] [nvarchar](4000) NULL,
	[PowerSteering_ID] [nvarchar](4000) NULL,
	[Sequence_number] [nvarchar](4000) NULL,
	[Project_Lead] [nvarchar](4000) NULL,
	[System_start_date] [nvarchar](4000) NULL,
	[Active_phase] [nvarchar](4000) NULL,
	[System_end_date] [nvarchar](4000) NULL,
	[Status] [nvarchar](4000) NULL,
	[Work_Template] [nvarchar](4000) NULL,
	[Work_type] [nvarchar](4000) NULL,
	[Comments] [nvarchar](max) NULL,
	[Consequential_Metric] [nvarchar](4000) NULL,
	[Expected_Benefits] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$] [nvarchar](4000) NULL,
	[Expected_Total_Savings_in_$_raw] [nvarchar](4000) NULL,
	[Goal_Statement] [nvarchar](4000) NULL,
	[Primary_Metric_and_Current_Performance] [nvarchar](4000) NULL,
	[Problem_Statement] [nvarchar](4000) NULL,
	[Project_Scope_and_Scale] [nvarchar](4000) NULL,
	[Secondary_Metric] [nvarchar](4000) NULL,
	[Project_Summary] [nvarchar](4000) NULL,
	[Annual_Spend] [nvarchar](4000) NULL,
	[Annual_Spend_raw] [nvarchar](4000) NULL,
	[CA_Local_Currency] [nvarchar](4000) NULL,
	[CA_Local_Currency_raw] [nvarchar](4000) NULL,
	[CapEx] [nvarchar](4000) NULL,
	[Current_PO] [nvarchar](4000) NULL,
	[EBIT_Local_Currency] [nvarchar](4000) NULL,
	[EBIT_Local_Currency_raw] [nvarchar](4000) NULL,
	[GL_Account] [nvarchar](4000) NULL,
	[GSGPC] [nvarchar](4000) NULL,
	[In_AOP] [nvarchar](4000) NULL,
	[LCC_Sourcing] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency] [nvarchar](4000) NULL,
	[Net_Savings_Local_Currency_raw] [nvarchar](4000) NULL,
	[Prebate_Rebate] [nvarchar](4000) NULL,
	[Prior_PO] [nvarchar](4000) NULL,
	[Probability_Adjustment] [nvarchar](4000) NULL,
	[Probability_Adjustment_raw] [nvarchar](4000) NULL,
	[Total_Opportunity] [nvarchar](4000) NULL,
	[Total_Opportunity_raw] [nvarchar](4000) NULL,
	[Vendor_Name] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date] [nvarchar](4000) NULL,
	[Working_Capital_Impact_Date_raw] [nvarchar](4000) NULL,
	[Yearly_Volume] [nvarchar](4000) NULL,
	[Yearly_Volume_raw] [nvarchar](4000) NULL,
	[Estimated_Baseline_Savings_$] [nvarchar](4000) NULL,
	[Estimated_Baseline_Savings_$_raw] [nvarchar](4000) NULL,
	[Estimated_Timeline] [nvarchar](4000) NULL,
	[Full_Potential_Savings_$] [nvarchar](4000) NULL,
	[Full_Potential_Savings_$_raw] [nvarchar](4000) NULL,
	[Probability_of_Achieving_Savings] [nvarchar](4000) NULL,
	[Probability_of_Achieving_Savings_raw] [nvarchar](4000) NULL,
	[Project_Description] [nvarchar](max) NULL,
	[Project_Rejected_On_Hold] [nvarchar](4000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
